@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-normalfont: "normalfont", sans-serif;
  --font-heading: "heading", sans-serif;
  --font-philo: "philo", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: clip;
}

@font-face {
  font-family: Cinzel;
  src: url(./assets/font/Cinzel-Regular.woff2);
}

@font-face {
  font-family: normalfont;
  src: url(./assets/font/navfont.ttf);
}

@font-face {
  font-family: heading;
  src: url(./assets/font/heading.ttf);
}

@font-face {
  font-family: philo;
  src: url(./assets/font/Philosopher.ttf);
}

/* ... scrollbar styling ... */
::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  
  
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}


